<h1>@Titulo</h1>

<table class="table">
    <thead>
        <tr>
            <th>Ação</th>
            <th>Data</th>
            <th>Descrição</th>
            <th>Concluida</th>
        </tr>
    </thead>
    <tbody>
        <ListaGenerica ListaItem="tarefas">
            <Lista Context="tarefa">
                <tr>
                    <TarefaIndividual item="tarefa" RemoverTarefa="RemoveTarefa" />
                </tr>
            </Lista>
        </ListaGenerica>
    </tbody>
</table>

@if (tarefas != null)
{
    <div class="form-group">
        <label>Tarefa</label>
        <input type="text" placeholder="Informe a tarefa" @bind="novaTarefa" />
        <button class="btn btn-primary" @onclick="AdicionarNovaTarefa">Registrar tarefa</button>
    </div>
}

<Confirma @ref="confirmacao" 
          onCancela="CancelaConfirmacao"
          onConfirma="RemoverTarefaConfirmacao">

    <div>Deseja excluir essa tarefa?</div>
</Confirma>



@code{

    [Parameter]
    public List<Tarefa> tarefas { get; set; }

    [Parameter]
    public string Titulo { get; set; }

    private string novaTarefa = "";
    static int totalTarefas = 0;

    //instancia do componente Confirm
    Confirma confirmacao;

    Tarefa tarefaRemover;


    private void AdicionarNovaTarefa()
    {
        if (!string.IsNullOrWhiteSpace(novaTarefa))
        {
            tarefas.Add(new Tarefa
            {
                DataCriacao = DateTime.Now,
                Descricao = novaTarefa,
                ID = Guid.NewGuid()
            });
            novaTarefa = "";
            totalTarefas = tarefas.Count();

            //await js.InvokeVoidAsync("getTotalTarefas");
            //await js.InvokeAsync<int>("getTotalTarefasInstancia", DotNetObjectReference.Create(this));
        }
    }

    void RemoveTarefa(Tarefa tarefa)
    {
        confirmacao.Exibir();
        tarefaRemover = tarefa;

    }

    void RemoverTarefaConfirmacao()
    {
        tarefas.Remove(tarefaRemover);
        tarefaRemover = null;
        confirmacao.Ocultar();
    }

    void CancelaConfirmacao()
    {
        confirmacao.Ocultar();
        tarefaRemover = null;
    }

    [JSInvokable]
    public static Task<int> obterTotalTarefas()
    {
        return Task.FromResult(totalTarefas);
    }

    [JSInvokable]
    public Task<int> obterTotalTarefasInstancia()
    {
        return Task.FromResult(totalTarefas);
    }
}
